body {
    background-color: WhiteSmoke;
}

h1 {
    color: black;
    margin-left: 20px;
}

nav {
    background-color: #808080;
}

h2{
    color: black;
    margin-left:  20px;
}

h3{
    color: black;
    margin-left:  20px;
}

header{
    
    background-color: Goldenrod;
}
footer{
    background-color: Goldenrod;
}