body {
    
    /*Primjer jednostavnog Stylesheet-a
    Ovo je komentar.*/
    
    /*CSS Selektori*/
    /*Tags -- h1 {}*/
    /*ID -- #firstParagraph {}*/
    /*Class -- .importantMessage {}*/
    
    background-image: 
        url(https://epistemologicalgap.files.wordpress.com/2015/01/drones.jpg);
    background-position: center;
    background-size: auto;
    }
header

{
    /*width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px;
    overflow: hidden;
    */
    
    
}
    /*h1 styling primjer*/
h1 {
    font-family: Verdana;
    color:  lightblue;
    font-size: 150px;
    font-style: normal;
    padding-top: 100px;
    text-shadow: 2px 2px 2px black;
   
    }

input {
    font-size: 35px;
    border-color: white;
}

footer {
    
    font-family: 'Segoe UI';
    color: white;
    padding-bottom: 300px;
    /*margin-left: auto;
    margin-right: auto;
    */
    
    
     
}