body {
	font-family:Arial, Helvettica, sans-serif;
    background-color:#333333;
    
}

header{
    width: 80%;
    background-color: black;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

section{
    width: 80%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

footer{
    width: 80%;
    background-color: black;
    color: white;
    margin-right: auto;
    margin-left: auto; 
}